@{
    ViewData["Title"] = "Resume";
}
<!-- HERO
================================================== -->
<section class="section section-top section-full">

    <!-- Cover -->
    <div class="bg-cover" style="background-image: url(~/assets/img/56.jpg);"></div>

    <!-- Overlay -->
    <div class="bg-overlay"></div>
    <!-- Content -->
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-10 col-lg-7 ">
                <div class="banner-content">
                    <!-- Preheading -->
                    <p class="text-white text-uppercase text-center text-xs">
                        Meet <span>John Doe</span>
                    </p>

                    <!-- Heading -->
                    <h1 class="text-white text-center mb-4 display-4 font-weight-bold">
                        I am a UI/UX Designer <br>& Developer
                    </h1>

                    <!-- Subheading -->
                    <p class="lead text-white text-center mb-5">
                        Having 3 years plus experience in design and develop area. I do html template conversion and wordpress theme development too. Have any project on mind or any query about project, feel free to contact.
                    </p>

                    <!-- Button -->
                    <p class="text-center mb-0">
                        <a href="#" target="_blank" class="btn btn-primary ">
                            Contact Now
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <!-- / .row -->
    </div>
    <!-- / .container -->
</section>