@{
    ViewData["Title"] = "Team";
}



<li><a asp-action="Index" asp-controller="Home">Home</a></li>
<li><a asp-action="Resume" asp-controller="Home">About</a></li>
<li><a asp-action="PortfolioOverview" asp-controller="Home">Portfolio</a></li>
<li><a asp-action="Team" asp-controller="Home">Team</a></li>
<li><a asp-action="Contact" asp-controller="Home">Contact</a></li>